---
layout: swatch
theme: default
---

%li<
  %a(href="/bootstrap/#{page.theme}/layout1.html") Layout 1
%li<
  %a(href="/bootstrap/#{page.theme}/layout2.html") Layout2
%li<
  %a(href="/bootstrap/#{page.theme}/starter-template.html") Starter Template
%li<
  %a(href="/bootstrap/#{page.theme}/hero.html") Hero
%li<
  %a(href="/bootstrap/#{page.theme}/fluid.html") Fluid
%li<
  %a(href="/bootstrap/#{page.theme}/jbossorg_lessbase.html") jboss.org LessBase