!!! 5
%html(lang="en")
  %head
    %title #{page.title}
    = partial("head.html.haml")
    %link(href="../../stylesheets/#{page.theme}/theme.css" rel="stylesheet")

  %body(data-spy="scroll" data-target=".subnav" data-offset="50")
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="./index.html")<
            %img(src="../../images/jbosscommunitylogo_hori.png" alt="The JBoss Community")
          .btn-group.pull-right
            %a.btn.dropdown-toggle(data-toggle="dropdown" href="#")
              =succeed ' Username' do
                %i.icon-user
              %span.caret
            %ul.dropdown-menu
              %li<
                %a(href="#") Profile
              %li.divider
              %li<
                %a(href="#") Sign Out
          .nav-collapse
            %ul.nav
              %li.active
                %a(href="#") Home
              %li
                %a(href="#") Get Started
              %li
                %a(href="#") Get Involved
              %li
                %a(href="#") Projects
              %li
                %a(href="#") Products

    .container
      ~ content
  
      = partial("footer.html.haml")

    / ==========================JavaScript========================
    / Placed at the end of the document so the pages load faster
    = partial("javascripts.html.haml")
